<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-首页</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two">
                    <li class="up"></li>
                    <li><a href="./list.html">最 新</a></li>
                    <li><a href="./list.html">科 技</a></li>
                    <li><a href="./list.html">股 市</a></li>
                    <li><a href="./list.html">商 品</a></li>
                    <li><a href="./list.html">外 汇</a></li>
                    <li><a href="./list.html">公 司</a></li>
                </ul>
            </div>
            <ul class="left_menu fl">
                <li><a href="#">最 新</a></li>
                <li><a href="#">科 技</a></li>
                <li><a href="#">股 市</a></li>
                <li><a href="#">商 品</a></li>
                <li><a href="#">外 汇</a></li>
                <li><a href="#">公 司</a></li>
            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con">
            <ul class="focus_list">
                <li class="first">
                    <a href="#"><img src="images/pic01.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic02.jpg" alt=""></a>
                    <p>图片说明图片说明图片说明图片说明图片说明图片说明图片说明图片说明图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic03.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic05.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic06.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
            </ul>

            <div class="common_title">
                <h3><i class="fa fa-edit"></i> 最新资讯</h3>
                <a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
            </div>

            <div class="common_news">
                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic09.jpg" alt=""></a>
                    <h4><a href="#">亚马逊金融试水中国？背后却是和华尔街的“金融战争” </a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic03.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱,马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic05.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic07.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic10.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>
            </div>

        </div>
        <div class="right_con">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list hotrank_list">
                    <li><span class="first">1</span><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><span class="second">2</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span class="third">3</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>4</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>5</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>6</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>7</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                    <li>
                        <span>山</span>
                        <b><em>山治</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>丽</span>
                        <b><em>丽丽</em> 9个月前(08-14)说:9个月前(08-14)说:9个月前(08-14)说:</b>
                        <strong>挺会玩的挺会玩的挺会玩的挺会玩的</strong>
                    </li>
                    <li>
                        <span>R</span>
                        <b><em>Rechael</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>J</span>
                        <b><em>John</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>段</span>
                        <b><em>段正淳</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>乔</span>
                        <b><em>乔峰</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>

    <!-- 导入模板引擎js文件 -->
    <script src="./js/template-web.js"></script>
    <!-- 引入jq文件 -->
    <script src="./js/jquery-1.12.4.min.js"></script>

    <!-- 一:最新资讯 模板 -->
    <script id="latest_temp" type="text/html">
        {{each data v}}
        <div class="common_news_list">
            <a href="./article.html?id={{v.id}}" class="list_pic"><img src="{{v.cover}}" alt=""></a>
            <h4><a href="./article.html?id={{v.id}}">{{v.title}} </a></h4>
            <p>{{@ v.intro}}</p>
            <div class="new_info">
                <span>标签：{{v.category}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( {{v.read}}
                    )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( {{v.comments}} )</span>
                <b>发布于 {{v.date}}</b>
            </div>
        </div>
        {{/each}}
    </script>

    <!-- 二:热点图新闻 模板 -->
    <script id="hotPic_temp" type="text/html">
        {{each data v}}
            {{if $index == 0}}
                <li class="first">
            {{else}}  
                <li>  
            {{/if}}    
                    <a href="./article.html?id={{v.id}}"><img src="{{v.cover}}" alt=""></a>
                    <p>{{v.title}}</p>
                </li>
        {{/each}}
    </script>

    <!-- 三:一周热门排行 模板 -->
    <script id="rankList_temp" type="text/html">
        {{each data v}}
            {{if $index == 0}}
            <li>
                <span class="first">1</span>
            {{else if $index == 1}}
            <li>
                <span class="second">2</span>  
            {{else if $index == 2}} 
            <li>
                <span class="third">3</span>   
            {{else}}    
            <li>
                <span>{{$index+1}}</span> 
            {{/if}}    
                <a href="./article.html?id={{v.id}}">{{v.title}}</a>
            </li>
        {{/each}}
    </script>

    <!-- 四:最新评论 模板 -->
    <script id="comment_temp" type="text/html">
        {{each data v}}
        <li>
            <span>{{v.author.substring(0,1)}}</span>
            <b><em>{{v.author}}</em> {{v.date}} {{v.time}}说:</b>
            <strong>{{v.intro}}</strong>
        </li>
        {{/each}}
    </script>

    <!-- 五:焦点关注 模板 -->
    <script id="attention_temp" type="text/html">
        {{each data v}}
        <li><a href="./article.html?id={{v.id}}">{{v.intro}}</a></li>
        {{/each}}
    </script>

    <!-- 六:文章类别 模板 -->
    <script id="category_temp" type="text/html">
        {{each data v}}
        <li>
            <a href="./list.html?categoryId={{v.id}}">{{v.name}}</a>
        </li>
        {{/each}}
    </script>

    <script>
        //入口函数
        $(function(){
            //一:最新资讯(也就是最新的已发布的文章5条)
            $.ajax({
                type:'get',
                url:'http://localhost:8080/api/v1/index/latest',
                success:function(backData){
                    //console.log(backData);
                    if(backData.code == 200){
                      var resHtml = template('latest_temp',backData);
                      $('.common_news').html(resHtml);
                    }
                }
            });

            //二:热点图新闻
            $.ajax({
                type:'get',
                url:'http://localhost:8080/api/v1/index/hotpic',
                success:function(backData){
                    //console.log(backData);
                    if(backData.code == 200){
                        var resHtml = template('hotPic_temp',backData);
                        $('.focus_list').html(resHtml);
                    }
                }            
            });
            
            //三:一周热门排行
            $.ajax({
                type:'get',
                url:'http://localhost:8080/api/v1/index/rank',
                success:function(backData){
                    //console.log(backData);
                    if(backData.code == 200){
                        //第一种处理办法: 直接修改每一li标签里面的a标签的文本和href的值
                        // for(var i = 0; i<backData.data.length; i++){
                        //     //backData.data[i].id;
                        //     //backData.data[i].title
                        //     $('.hotrank_list>li').eq(i).children('a').text(backData.data[i].title);
                        //     $('.hotrank_list>li').eq(i).children('a').attr('href','./article.html?id='+backData.data[i].id);
                        // }

                        //第二种处理方式: 模板引擎
                        var reshtml = template('rankList_temp',backData);
                        $('.hotrank_list').html(reshtml);
                    }
                }
            });
        

            //四:最新评论
            $.ajax({
                type:'get',
                url:'http://localhost:8080/api/v1/index/latest_comment',
                success:function(backData){
                    //console.log(backData);
                    if(backData.code == 200){
                        var reshtml = template('comment_temp',backData);
                        $('.comment_list').html(reshtml);
                    }
                }
            });

            //五:焦点关注
            $.ajax({
                type:'get',
                url:'http://localhost:8080/api/v1/index/attention',
                success:function(backData){
                    //console.log(backData);
                    if(backData.code == 200){
                        var resHtml = template('attention_temp',backData);
                        $('.guanzhu_list').html(resHtml);
                    }
                }
            });

            //六:文章类别
            $.ajax({
                type:'get',
                url:'http://localhost:8080/api/v1/index/category',
                success:function(backData){
                    //console.log(backData);
                    if(backData.code = 200){
                        var resHtml = template('category_temp',backData);
                        //设置竖着的 文章类别列表
                        $('ul.level_two').html('<li class="up"></li>'+resHtml);
                        //设置横着的 文章类别列表
                        $('ul.left_menu').html(resHtml);
                    }
                }
            });
            
            //七:文章搜索
            //给搜索按钮设置一个点击事件
            $('.search_btn').on('click',function(){
                //获取用户输入的搜索关键词
                var searchTxt = $('.search_txt').val().trim();
                //非空判断
                if(searchTxt == ""){
                    alert('搜索内容不能为空!');
                    return;
                }
                //跳转到list.html页面,把搜索的关键词带过去
                window.location.href = './list.html?search='+searchTxt;
            })
        
        });
    </script>
</body>

</html>